* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: arial;
    text-align: center;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

input {
    margin-top: 5px;
    height: 30px;
    width: 100%;
}

button {
    margin-top: 5px;
    height: 30px;
    width: 102.1%;
    padding: 0;
    border: none;
}

p {
    text-align: center;
    font-family: arial;
}

.error {
    color: red;
}

.success {
    color: green;
}