* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.menu-btn {
    height: 100%;
    width: 60px;
    background-color: #000;
    color: #fff;
    font-family: arial;
    font-size: 16px;
}

/*
    width: 60px;
    height: 100%;
    background-color: #f98f39;
    background-image: url("img/nav.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer; */