ErrorDocument 404 /CSCI-3308-Fall21-013-07/root/404.php
ErrorDocument 500 /CSCI-3308-Fall21-013-07/root/404.php
ErrorDocument 403 /CSCI-3308-Fall21-013-07/root/404.php
ErrorDocument 400 /CSCI-3308-Fall21-013-07/root/404.php
ErrorDocument 401 /CSCI-3308-Fall21-013-07/root/401.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php/$1 [L]

RewriteRule ^([^.]+)$ $1.php [NC,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]