/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE */

* {
    text-decoration: none;
}

body {
    background-color: #f1f1f1;
}

/* HEADER */

header {
    height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    left: 0;
}

.nav-header-main {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-header-main .header-logo img {
    height: 60px;
    width: 60px;
}

.nav-header-main ul {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding-left: 16px;
}

.nav-header-main ul li {
    flex: nowrap;
    list-style: none;
    padding: 0 8px;
    line-height: 60px;
}

.nav-header-main ul li a {
    text-transform: uppercase;
    color: #111;
    font-family: arial;
    font-size: 16px;
}

.nav-header-main ul li a:hover {
    color: red;
}

.header-login {
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
    margin-left: auto;
    padding: 0 5px;
    top: 0;
}

.header-login input {
    font-family: arial;
    height: 30px;
    width: 150px;
    border: none;
    background-color: #f1f1f1;
    text-indent: 10px;
}

.header-login input::placeholder { 
    text-indent: 10px;
}

.header-login a {
    text-transform: uppercase;
    color: #111;
    font-family: arial;
    font-size: 16px;
    margin: auto 5px;
} 

.header-login button {
    display: inline-block;
    background-color: #111;
    color: #fff;
    font-size: 16px;
    font-family: arial;
    border: none;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    margin: auto 5px;
} 

/* MAIN CONTENT */

.wrapper-main {
    padding-top: 60px;
}

.section-default {
    padding-top: 30px;
    height: 60px;
    width: 50%;
    margin: 10px auto 0 auto;
    background-color: #fff;
}

.login-status {
    text-align: center;
    font-family: arial;
    font-size: 20px;
}

/* SIGN UP MAIN CONTENT */

.wrapper-main2{
    padding-top: 60px;
}

.section-default2 {
    padding-top: 20px;
    height: 260px;
    width: 50%;
    margin: 10px auto 0 auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-default2 h1 {
    font-family: arial;
    color: #111;
    text-align: center;
}

.section-default2 .signuperror {
    font-family: arial;
    font-size: 16px;
    color: red;
    margin: 5px auto 0 auto;
}

.section-default2 .signupsucc {
    font-family: arial;
    font-size: 16px;
    color: green;
    margin: 5px auto 0 auto;
}


.section-default2 form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2px auto 0 auto;
}

.section-default2 form input {
    font-family: arial;
    height: 30px;
    width: 200px;
    border: solid 1px #DCDCDC;
    border-radius: 3px;
    background-color: #f1f1f1;
    margin: 2px auto 1px auto;
    text-indent: 10px;
}

.section-default2 form input::placeholder { 
    text-indent: 10px;
}

.section-default2 form input::-webkit-input-placeholder {
    text-indent: 10px;
}

input:-moz-placeholder {
    text-indent: 10px;
}

.section-default2 button {
    display: inline-block;
    background-color: #111;
    color: #fff;
    font-size: 16px;
    font-family: arial;
    border: none;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 75px !important;
    margin: 5px auto 0 auto;
}