<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Canvas App</title>
        <link rel="stylesheet" type="text/css" href="../recs/css/exp4.css">
        <script type="text/javascript" src="../recs/js/exp4.js"></script>
    </head>

    <!-- load up the page and tool bar interface -->
    <body onload="init()">
        <div class="form-container">
            <!-- to database -->
            <form method="post" enctype="multipart/form-data">
                <label>Title</label>
                <input type="text" name="title">
                <label>File Upload</label>
                <input type="File" name="file">
                <input type="submit" name="submit">
            </form>
        </div>
        <div class="input-container">
            <div class="button-container">
                <!-- load -->
                <form action='#' onsubmit="return false;">
                    <input type='file' id='imgfile'>
                    <input type='button' id='btnLoad' value='Load' onclick='loadImage()'>
                </form>
                <!-- save -->
                <input type="button" value="save" id="btn" size="30" onclick="save()">
                <!-- export -->
                <input type="button" value="exp" id="exp" size="30" onclick="exportMap()">
                <!-- clear -->
                <input type="button" value="clear" id="clr" size="23" onclick="erase()">
            </div>

            <div class="color-eraser-container">
                <!-- color selction -->
                <div class="color-select-container">
                    <div class="choose-color">Choose Color</div>
                    <div class="color-row">
                        <div class="color-option" style="background:green;" id="green" onclick="color(this)"></div>
                        <div class="color-option" style="background:blue;" id="blue" onclick="color(this)"></div>
                        <div class="color-option" style="background:red;" id="red" onclick="color(this)"></div>
                    </div>
                    <div class="color-row">
                        <div class="color-option" style="background:yellow;" id="yellow" onclick="color(this)"></div>
                        <div class="color-option" style="background:orange;" id="orange" onclick="color(this)"></div>
                        <div class="color-option" style="background:black;" id="black" onclick="color(this)"></div>
                    </div>
                </div>
                
                <!-- eraser -->
                <div class="eraser-container">
                    <p>Eraser</p>
                    <div class="eraser" id="white" onclick="color(this)"></div>
                </div>
            </div>
        </div>

        <!-- canvas -->
        <div class="canvas-container">
            <div class="canvas-wrap">
                <canvas id="undercan" width="498" height="398"></canvas>
                <canvas id="can" width="498" height="398"></canvas>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
                <div class="div-row">
                    <div id="overlay"></div>
                    <div id="overlay" style="padding-right: 50px;"></div>
                    <div id="overlay" style="padding-right: 100px;"></div>
                    <div id="overlay" style="padding-right: 150px;"></div>
                    <div id="overlay" style="padding-right: 200px;"></div>
                    <div id="overlay" style="padding-right: 250px;"></div>
                    <div id="overlay" style="padding-right: 300px;"></div>
                    <div id="overlay" style="padding-right: 350px;"></div>
                    <div id="overlay" style="padding-right: 400px;"></div>
                    <div id="overlay" style="padding-right: 450px;"></div>
                </div>
            </div>

            <!-- sketched image -->
            <canvas id="undercanimg" width="498" height="398" style="margin-left: 510px; border:#f00 2px solid;background: white;display: none;"></canvas>
            <img id="canvasimg" style="margin-left: 510px; display:none;">
        </div>
        
        
    </body>
    </html>